@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.invisible-field {
		@apply py-2 border-t border-almost-black/20 dark:border-almost-white/20;
		&:first-child {
			@apply !border-t-0;
		}
		&:focus-within {
			@apply bg-white/40 dark:bg-white/10;
		}
		label {
			@apply text-almost-black dark:text-almost-white;
		}
		> label, > input[type="text"], > textarea {
      @apply block p-2 px-4;
		}
	}
	input[type="text"], textarea {
		border: none;
		background: none;
		color: inherit;
		width: 100%;
		@apply focus:outline-none
	}
	.grid-output {
		grid-template-columns: 200px 1fr;
		grid-template-rows: minmax(40px, auto) minmax(40px, auto) 1fr;
	}
}

:root {
  --ui-theme-background: 34 58% 92%; /** BRIDE **/
  --ui-theme-foreground: 236 40% 15%; /** PURPLISH **/
  --ui-theme-border: 236 40% 15%; /** PURPLISH **/

  @media screen and (prefers-color-scheme: dark) {
    --ui-theme-background: 236 40% 15%; /** PURPLISH **/
    --ui-theme-foreground: 34 58% 92%; /** BRIDE **/
    --ui-theme-border: 34 58% 92%; /** BRIDE **/
  }
}
